<div class="container">
  <div class="product"> 
  <!-- Input field -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <input type="text" id="element" name="element" class="form-control" [(ngModel)]="newElement">
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <input type="text" id="element" name="element" class="form-control" [(ngModel)]="newElementQuantity">
      </div>
      <!-- Add button -->
      <div class="addbutton col-sm-12 col-md-3 col-lg-3">
        <button class="btn btn-primary" (click)="addShoppingElement()">Add</button>
      </div>
    </div>
  </div>
  </div>
    <ul class="products">
      <li class="product-item" *ngFor="let product of products">
        <div class="product">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-8">
                <div [ngClass]="isProductInShoppingCart(product)" class="name">{{ product.name }} ({{ product.quantity }})</div>
              </div>
              <!-- Add button -->
              <div class="addbutton col-sm-12 col-md-4 col-lg-4">
                <button class="btn btn-primary" (click)="putProductToShoppingCart(product)">Done</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- Clear All -->
    <div class="clearall">
      <button class="btn btn-primary" (click)="clearAllProducts()">Clear All</button>
    </div>
  </div>
